* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a191f;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.header__search {
  width: 15rem;
  outline: none;
  height: 2.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.section-category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}

.category-type {
  height: 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.category-type:hover {
  background-color: #0f0f0f;
  color: #fff;
}

.category-type:active {
  background-color: #0f0f0f;
  color: #fff;
}

.section-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.movie-wrapper {
  width: 18rem;
  height: 26rem;
  background-color: #26252b;
  border-radius: 1.6rem;
}

.movie__img {
  width: 18rem;
  height: 20rem;
  cursor: pointer;
  border-radius: 1.6rem 1.6rem 0 0;
}

.movie__img:hover {
  background-color: gray;
  opacity: 0.5;
}

.movie-info__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  padding-left: 0.7rem;
}

.heart {
  background-color: #fff;
  border: none;
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  transform: rotate(-45deg);
  position: absolute;
  cursor: pointer;
  right: 1rem;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
}

.heart:before {
  top: -0.6rem;
  left: 0;
}

.heart:after {
  left: 0.6rem;
  top: 0;
}

.heart:focus,
.heart:active {
  background-color: red;
}

.heart:focus:after,
.heart:focus:before,
.heart:active:before,
.heart:active:after {
  background-color: red;
}

.movie-info__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.movie__info {
  padding: 0.5rem 0;
}

.movie__title {
  font-size: 1.1rem;
}

.movie__year {
  color: #d0d4ca;
  font-size: 0.9rem;
}

.movie__genre {
  font-size: 1rem;
  color: #ffd80e;
}

.movie__rating {
  position: absolute;
  top: -19.5rem;
  left: 0.5rem;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  font-size: 1rem;
}

.movie__rating-green {
  border: 1px solid green;
}

.movie__rating-orange {
  border: 1px solid orange;
}
.movie__rating-red {
  border: 1px solid red;
}
